.signup{
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--secondary-color-two);
  border-radius: 15px;
}
.form {
    /* max-width: 40rem; */
    margin: 2rem auto;
  width: 80%;
  }
  
  .form label,
  .form input {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
  }
  
  .form input{
    font: inherit;
    padding: 0.25rem;
    background-color: var(--secondary-color-one);
    border-radius: 15px;
    outline: none;
    border: none;
  }
  
  .actions {
    display: flex;
    gap: 1rem;
    
    justify-content: center;
  }
  
  .actions button {
    font: inherit;
    cursor: pointer;
    padding: 0.5rem 1.5rem;
    border-radius: 20px;
    background-color: var(--primary-color-one);
    color: var(--primary-color-two);
    border: none;
    width: 200px;
    margin-top: 10%;
  }
  .gotologin a{
    color: var(  --neutral-dark);
    text-decoration: none;
  }
  /* .actions button[type='button'] {
    background-color: transparent;
    color: var(--color-gray-300);
  } */
  
  .actions button:hover {
    background-color: var(--primary-color-two);
    color: var(--primary-color-one);
  }
  
  /* .actions button[type='button']:hover {
    background-color: var(--color-gray-800);
  }
   */